.description {
  text-align: center;
}

.submit-btn {
  background-color: #7551e9;
  border-radius: 1rem;
  margin-top: 2.5rem;
}

.disabled-btn {
  background-color: #dadee0;
  border-radius: 1rem;
  margin-top: 2.5rem;
}

.submit-btn:hover {
  background-color: #6042c4;
}

.login-container {
  padding-left: 4.75rem;
  padding-right: 4.75rem;
  padding-top: 1.75rem;
  padding-bottom: 3rem;
}

.input-description {
  margin-top: 1.25rem;
}