<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>

<div *ngIf="!serverResponded; else userExistenceCheck">
  <div class="section">
    <div class="container">Searching for user...</div>
  </div>
</div>

<ng-template #userExistenceCheck>
  <div *ngIf="userExists; else userDoesNotExist">
    <div class="links-container">
      <div class="portrait-container" [ngStyle]="{'background-image': 'url(' + profilePicture + ')'}">
      </div>
      <p class="content-creator"><strong>@{{this.userName}}</strong></p>
      <ng-container *ngFor="let link of this.links">
        <a href={{link.url}} class="linktree-link" target="_blank">{{link.title}}</a>
      </ng-container>
      <a routerLink="/home"><img class="logo mt-4" src="assets/images/logo.PNG" alt="site logo"></a>
    </div>
  </div>
</ng-template>

<ng-template #userDoesNotExist>
  <div class="section">
    <div class="container">
      <img class="logo" src="assets/images/logo.PNG" alt="site logo">
      <h1 class="no-found-user-message title is-1">The page you're looking for doesn't exist</h1>
      <a class="title is-4" routerLink="/home">
        <p class="return-link">Return to the homepage</p>
      </a>
    </div>
  </div>
</ng-template>
